<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test parallel="methods" thread-count="1" name="C:/Users/HASSEN/eclipse-workspace/APIAutomationFramework">
        <classes>
            <class name="com.API.Tests.getTests">
                <methods>
                    <include name="getEmployeesDetails" />
                    <include name="getEmployeeDetails" />
                </methods>
            </class>
            <class name="com.API.Tests.postTests">
                <methods>
                    <include name="postTestUsingPojo" />
                    <include name="postRequestUsingExternalFile" />
                    <include name="postRequestUsingExternalFile1" />
                </methods>
            </class>
            <!-- <class name="com.tmb.tests.AssignmentTests">
                <methods>
                    <include name="assignmentTest" />
                </methods>
            </class>-->
        </classes>
    </test>
</suite>